name: "golang-ci-lint"

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          check-latest: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=5m
