name: "golang-vulnerabilities"

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
jobs:
  golang-vulnerabilities:
    name: golang-vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: opzkit/govulncheck-action@f522a4de778cf9f398be705615b86addf059f594 # v1.1.1
        with:
          go-version: 'stable'
          check-latest: true
