name: Check dependencies licenses
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  license-check:
    runs-on: ubuntu-latest
    name: License and Copyright Check
    steps:
      - uses: actions/checkout@v6
      - uses: opzkit/go-license-check-action@fd4de0a1c781d408b09db3a7ca1f017f98ce2f51 # v1.1.1
        with:
          go-version: 'stable'
          check-latest: true
